<template>
    <div class="">
        <div class="Polaris-Tabs__Panel" id="all-customers-content" role="tabpanel" aria-labelledby="all-customers"
             tabindex="-1">
            <div class="Polaris-Card__Section">
                <div class="Polaris-Layout home-code-info">
                    <div class="created-code-main">
                        <div class="created-code-main-inner">
                            <div class="created-code-top">
                                <h4>Apperance</h4>
                                <button type="button" class="Polaris-Button Polaris-Button--primary"
                                        @click="sendForm()"><span
                                    class="Polaris-Button__Content"><span
                                    class="Polaris-Button__Text">Save</span></span></button>
                            </div>
                            <div class="Polaris-Layout">
                                <div class="Polaris-Layout__Section">

<!--                                   Widget Appearance - When Empty-->
                                    <div class="Polaris-Card">
                                        <div class="Polaris-Card__Header">
                                            <h2 class="Polaris-Heading">Widget Appearance - When Empty</h2>
                                        </div>
                                        <div class="Polaris-Card__Section">
                                            <!--                   START :: Preview                -->
                                            <div class="prw">
                                                <div class="Polaris-Card__Header">
                                                    <div class="prw-heading d-flex">
                                                        <h1 class="Polaris-Heading" style="margin-right: 10px;">Preview</h1>
                                                        <span class="Polaris-Button__Text">
                                    <svg viewBox="0 0 20 20" style="width: 16px;" class="Polaris-Icon__Svg"
                                         focusable="false" aria-hidden="true">
                                        <path
                                            d="M13 14H2v-2h16v2h-5zm-.606 4H7.606a9.139 9.139 0 0 0 .357-2h4.074c.062.818.196 1.478.357 2zM2 10h16V2H2v8zM19 0H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h4.951c-.157 1.657-.661 2.293-.659 2.293h.001A1 1 0 0 0 6 20h8a.996.996 0 0 0 .897-.598c.163-.356.09-.788-.166-1.084-.006-.007-.523-.641-.682-2.318H19a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"></path>
                                    </svg></span>
                                                    </div>
                                                </div>
                                                <div class="Polaris-Card__Section">
                                                    <div class="Unique-code-form-group">
                                                        <div>
                                                            <div class="Polaris-Labelled__LabelWrapper">
                                                                <div class="Polaris-Label" style="width: 100%;">
                                                                    <label id="pew-title-label" for="title"
                                                                           class="Polaris-Label__Text" :style="title_txt_pew">{{form.display.title}}</label>
                                                                </div>
                                                            </div>
                                                            <div class="Polaris-Connected d-flex">
                                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary mr-10">
                                                                        <div
                                                                            class="Polaris-TextField Polaris-TextField--hasValue">
                                                                            <input id="prw-title"
                                                                                   class="Polaris-TextField__Input"
                                                                                   type="email" aria-describedby="PolarisTextField6HelpText"
                                                                                   aria-labelledby="PolarisTextField6Label"
                                                                                   aria-invalid="false"
                                                                                   aria-multiline="false"
                                                                                   :placeholder="form.display.input_plhol_text">
                                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                                        </div>
                                                                    </div>
                                                                    <button type="button" class="Polaris-Button" :style="submit_btn_prw"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">{{form.display.submit_btn_text}}</span></span></button>
                                                            </div>
                                                        </div>
                                                        <div class="mt-10">
                                                                <button type="button" class="Polaris-Button" style="width:100%;" :style="blocked_btn_prw"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">{{form.display.blocked_atc_btn_text}}</span></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--                   END :: Preview                -->

                                            <div class="created-code-form-main">
<!--                                                title-->
                                                <div class="Unique-code-form-group">
                                                    <div class="Polaris-FormLayout__Items mb-20">
                                                        <div class="Polaris-FormLayout__Item mr-20">
                                                            <div class="Polaris-Labelled__LabelWrapper">
                                                                <div class="Polaris-Label">
                                                                    <label id="PolarisTextField6Label" for="title"
                                                                           class="Polaris-Label__Text">Title</label>
                                                                </div>
                                                            </div>
                                                            <div class="Polaris-Connected">
                                                                <div
                                                                    class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div
                                                                        class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="title"
                                                                               class="Polaris-TextField__Input"
                                                                               type="email"
                                                                               aria-describedby="PolarisTextField6HelpText"
                                                                               aria-labelledby="PolarisTextField6Label"
                                                                               aria-invalid="false"
                                                                               aria-multiline="false"
                                                                               placeholder="2020 Semi-annual sale"
                                                                               v-model="form.display.title">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-FormLayout__Item">
                                                            <div class="Polaris-Labelled__LabelWrapper">
                                                                <div class="Polaris-Label">
                                                                    <label id="input-textID" for="title"
                                                                           class="Polaris-Label__Text">Input Text</label>
                                                                </div>
                                                            </div>
                                                            <div class="Polaris-Connected">
                                                                <div
                                                                    class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div
                                                                        class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="input-text"
                                                                               class="Polaris-TextField__Input"
                                                                               type="email"
                                                                               aria-describedby="PolarisTextField6HelpText"
                                                                               aria-labelledby="PolarisTextField6Label"
                                                                               aria-invalid="false"
                                                                               aria-multiline="false"
                                                                               placeholder="2020 Semi-annual sale"
                                                                               v-model="form.display.input_plhol_text">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
<!--                                                title text color-->
                                                    <div class="Polaris-FormLayout__Items mb-20">
                                                        <div class="Polaris-FormLayout__Item clr-z-index mr-20">
                                                            <div class="">
                                                                <div class="Polaris-Labelled__LabelWrapper">
                                                                    <div class="Polaris-Label"><label
                                                                        class="Polaris-Label__Text">Title Text
                                                                        Color</label></div>
                                                                </div>
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField">
                                                                            <ColorPicker class="text-black-700"
                                                                                         label="Text Color:"
                                                                                         :color="form.display.title_text_color"
                                                                                         v-model="form.display.title_text_color"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-FormLayout__Item">
                                                        </div>
                                                    </div>
<!--                                                submit button-->
                                                    <div class="Polaris-FormLayout__Items mb-20">
                                                        <div class="Polaris-FormLayout__Item">
                                                            <div class="Polaris-Labelled__LabelWrapper">
                                                                <div class="Polaris-Label">
                                                                    <label id="submit-btn-text" for="title"
                                                                           class="Polaris-Label__Text">Submit Button Text</label>
                                                                </div>
                                                            </div>
                                                            <div class="Polaris-Connected">
                                                                <div
                                                                    class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div
                                                                        class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="submit-btn-textId"
                                                                               class="Polaris-TextField__Input"
                                                                               type="email"
                                                                               aria-describedby="PolarisTextField6HelpText"
                                                                               aria-labelledby="PolarisTextField6Label"
                                                                               aria-invalid="false"
                                                                               aria-multiline="false"
                                                                               placeholder="2020 Semi-annual sale"
                                                                               v-model="form.display.submit_btn_text">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="Polaris-FormLayout__Items mb-20">
                                                        <div class="Polaris-FormLayout__Item clr-z-index mr-20">
                                                            <div class="">
                                                                <div class="Polaris-Labelled__LabelWrapper">
                                                                    <div class="Polaris-Label"><label
                                                                        class="Polaris-Label__Text">Submit Button Color</label></div>
                                                                </div>
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField">
                                                                            <ColorPicker class="text-black-700"
                                                                                         label="Text Color:"
                                                                                         :color="form.display.submit_btn_color"
                                                                                         v-model="form.display.submit_btn_color"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-FormLayout__Item clr-z-index">
                                                                <div class="">
                                                                    <div class="Polaris-Labelled__LabelWrapper">
                                                                        <div class="Polaris-Label"><label
                                                                            class="Polaris-Label__Text">Submit Button Text Color</label></div>
                                                                    </div>
                                                                    <div class="Polaris-Connected">
                                                                        <div
                                                                            class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                            <div class="Polaris-TextField">
                                                                                <ColorPicker class="text-black-700"
                                                                                             label="Text Color:"
                                                                                             :color="form.display.submit_btn_text_color"
                                                                                             v-model="form.display.submit_btn_text_color"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
<!--                                                blocked add to cart button-->
                                                    <div class="Polaris-FormLayout__Items mb-20">
                                                        <div class="Polaris-FormLayout__Item">
                                                            <div class="Polaris-Labelled__LabelWrapper">
                                                                <div class="Polaris-Label">
                                                                    <label id="blocked-atc-text" for="title"
                                                                           class="Polaris-Label__Text">Blocked Add to cart Text</label>
                                                                </div>
                                                            </div>
                                                            <div class="Polaris-Connected">
                                                                <div
                                                                    class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div
                                                                        class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="blocked-atc-btn-textId"
                                                                               class="Polaris-TextField__Input"
                                                                               type="email"
                                                                               aria-describedby="PolarisTextField6HelpText"
                                                                               aria-labelledby="PolarisTextField6Label"
                                                                               aria-invalid="false"
                                                                               aria-multiline="false"
                                                                               placeholder="2020 Semi-annual sale"
                                                                               v-model="form.display.blocked_atc_btn_text">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="Polaris-FormLayout__Items mb-20">
                                                        <div class="Polaris-FormLayout__Item clr-z-index mr-20">
                                                            <div class="">
                                                                <div class="Polaris-Labelled__LabelWrapper">
                                                                    <div class="Polaris-Label"><label
                                                                        class="Polaris-Label__Text">Blocked Add to cart Button Color</label></div>
                                                                </div>
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField">
                                                                            <ColorPicker class="text-black-700"
                                                                                         label="Text Color:"
                                                                                         :color="form.display.blocked_atc_btn_color"
                                                                                         v-model="form.display.blocked_atc_btn_color"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-FormLayout__Item clr-z-index  mr-20">
                                                            <div class="">
                                                                <div class="Polaris-Labelled__LabelWrapper">
                                                                    <div class="Polaris-Label"><label
                                                                        class="Polaris-Label__Text">Blocked Add to cart Button Text Color</label></div>
                                                                </div>
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField">
                                                                            <ColorPicker class="text-black-700"
                                                                                         label="Text Color:"
                                                                                         :color="form.display.blocked_atc_btn_text_color"
                                                                                         v-model="form.display.blocked_atc_btn_text_color"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-FormLayout__Item clr-z-index">
                                                            <div class="">
                                                                <div class="Polaris-Labelled__LabelWrapper">
                                                                    <div class="Polaris-Label"><label
                                                                        class="Polaris-Label__Text">Blocked Add to cart Button Border Color</label></div>
                                                                </div>
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField">
                                                                            <ColorPicker class="text-black-700"
                                                                                         label="Text Color:"
                                                                                         :color="form.display.blocked_atc_btn_border_color"
                                                                                         v-model="form.display.blocked_atc_btn_border_color"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
<!--                                   Widget Appearance - When Successful-->
                                    <div class="Polaris-Card"   >
                                        <div class="Polaris-Card__Header">
                                            <h2 class="Polaris-Heading">Widget Appearance - When Successful</h2>
                                        </div>
                                        <div class="Polaris-Card__Section">
                                            <!--                   START :: Preview                -->
                                            <div class="prw">
                                                <div class="Polaris-Card__Header">
                                                    <div class="prw-heading d-flex">
                                                        <h1 class="Polaris-Heading" style="margin-right: 10px;">Preview</h1>
                                                        <span class="Polaris-Button__Text">
                                    <svg viewBox="0 0 20 20" style="width: 16px;" class="Polaris-Icon__Svg"
                                         focusable="false" aria-hidden="true">
                                        <path
                                            d="M13 14H2v-2h16v2h-5zm-.606 4H7.606a9.139 9.139 0 0 0 .357-2h4.074c.062.818.196 1.478.357 2zM2 10h16V2H2v8zM19 0H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h4.951c-.157 1.657-.661 2.293-.659 2.293h.001A1 1 0 0 0 6 20h8a.996.996 0 0 0 .897-.598c.163-.356.09-.788-.166-1.084-.006-.007-.523-.641-.682-2.318H19a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"></path>
                                    </svg></span>
                                                    </div>
                                                </div>
                                                <div class="Polaris-Card__Section">
                                                    <div class="Unique-code-form-group">
                                                        <div>
                                                            <div class="Polaris-Labelled__LabelWrapper">
                                                                <div class="Polaris-Label" style="width: 100%;">
                                                                    <label id="success-prw-title-label" for="title"
                                                                           class="Polaris-Label__Text" :style="success_msg_prw">{{form.success.msg}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mt-10">
                                                            <button type="button" class="Polaris-Button" style="width:100%;"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">ADD TO CART</span></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--                   END :: Preview                -->
                                            <div class="created-code-form-main">
<!--                                                title-->
                                                <div class="Unique-code-form-group">
                                                    <div class="Polaris-FormLayout__Items mb-20">
                                                        <div class="Polaris-FormLayout__Item mr-20">
                                                            <div class="Polaris-Labelled__LabelWrapper">
                                                                <div class="Polaris-Label">
                                                                    <label id="success-msg-text" for="title"
                                                                           class="Polaris-Label__Text">Success Message</label>
                                                                </div>
                                                            </div>
                                                            <div class="Polaris-Connected">
                                                                <div
                                                                    class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div
                                                                        class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="success-msg"
                                                                               class="Polaris-TextField__Input"
                                                                               type="email"
                                                                               aria-describedby="PolarisTextField6HelpText"
                                                                               aria-labelledby="PolarisTextField6Label"
                                                                               aria-invalid="false"
                                                                               aria-multiline="false"
                                                                               placeholder="2020 Semi-annual sale"
                                                                               v-model="form.success.msg">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
<!--                                                title text color-->
                                                    <div class="Polaris-FormLayout__Items mb-20">
                                                        <div class="Polaris-FormLayout__Item clr-z-index mr-20">
                                                            <div class="">
                                                                <div class="Polaris-Labelled__LabelWrapper">
                                                                    <div class="Polaris-Label"><label
                                                                        class="Polaris-Label__Text">Success Background
                                                                        Color</label></div>
                                                                </div>
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField">
                                                                            <ColorPicker class="text-black-700"
                                                                                         label="Text Color:"
                                                                                         :color="form.success.bg_color"
                                                                                         v-model="form.success.bg_color"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-FormLayout__Item clr-z-index mr-20">
                                                            <div class="">
                                                                <div class="Polaris-Labelled__LabelWrapper">
                                                                    <div class="Polaris-Label"><label
                                                                        class="Polaris-Label__Text">Success Border
                                                                        Color</label></div>
                                                                </div>
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField">
                                                                            <ColorPicker class="text-black-700"
                                                                                         label="Text Color:"
                                                                                         :color="form.success.border_color"
                                                                                         v-model="form.success.border_color"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-FormLayout__Item clr-z-index">
                                                            <div class="">
                                                                <div class="Polaris-Labelled__LabelWrapper">
                                                                    <div class="Polaris-Label"><label
                                                                        class="Polaris-Label__Text">Success Text
                                                                        Color</label></div>
                                                                </div>
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField">
                                                                            <ColorPicker class="text-black-700"
                                                                                         label="Text Color:"
                                                                                         :color="form.success.text_color"
                                                                                         v-model="form.success.text_color"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
<!--                                   Widget Appearance - When Failed-->
                                    <div class="Polaris-Card">
                                        <div class="Polaris-Card__Header">
                                            <h2 class="Polaris-Heading">Widget Appearance - When Failed</h2>
                                        </div>
                                        <div class="Polaris-Card__Section">
                                            <!--                   START :: Preview                -->
                                            <div class="prw">
                                                <div class="Polaris-Card__Header">
                                                    <div class="prw-heading d-flex">
                                                        <h1 class="Polaris-Heading" style="margin-right: 10px;">Preview</h1>
                                                        <span class="Polaris-Button__Text">
                                    <svg viewBox="0 0 20 20" style="width: 16px;" class="Polaris-Icon__Svg"
                                         focusable="false" aria-hidden="true">
                                        <path
                                            d="M13 14H2v-2h16v2h-5zm-.606 4H7.606a9.139 9.139 0 0 0 .357-2h4.074c.062.818.196 1.478.357 2zM2 10h16V2H2v8zM19 0H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h4.951c-.157 1.657-.661 2.293-.659 2.293h.001A1 1 0 0 0 6 20h8a.996.996 0 0 0 .897-.598c.163-.356.09-.788-.166-1.084-.006-.007-.523-.641-.682-2.318H19a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"></path>
                                    </svg></span>
                                                    </div>
                                                </div>
                                                <div class="Polaris-Card__Section">
                                                    <div class="Unique-code-form-group">
                                                        <div>
                                                            <div class="Polaris-Labelled__LabelWrapper">
                                                                <div class="Polaris-Label" style="width: 100%;">
                                                                    <label id="fail-prw-title-label" for="title"
                                                                           class="Polaris-Label__Text  d-flex justify-content-end" :style="fail_msg_prw"><span class="fail-label">{{form.fail.msg}}</span> <a href='#' class="Polaris-Link fail-ta" :style="ta_link">Try Again</a></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mt-10">
                                                            <button type="button" class="Polaris-Button" :style="blocked_btn_prw"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">{{form.display.blocked_atc_btn_text}}</span></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--                   END :: Preview                -->
                                            <div class="created-code-form-main">
<!--                                                title-->
                                                <div class="Unique-code-form-group">
                                                    <div class="Polaris-FormLayout__Items mb-20">
                                                        <div class="Polaris-FormLayout__Item mr-20">
                                                            <div class="Polaris-Labelled__LabelWrapper">
                                                                <div class="Polaris-Label">
                                                                    <label id="failed-msg-text" for="title"
                                                                           class="Polaris-Label__Text">Failed Message</label>
                                                                </div>
                                                            </div>
                                                            <div class="Polaris-Connected">
                                                                <div
                                                                    class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div
                                                                        class="Polaris-TextField Polaris-TextField--hasValue">
                                                                        <input id="failed-msg"
                                                                               class="Polaris-TextField__Input"
                                                                               type="email"
                                                                               aria-describedby="PolarisTextField6HelpText"
                                                                               aria-labelledby="PolarisTextField6Label"
                                                                               aria-invalid="false"
                                                                               aria-multiline="false"
                                                                               placeholder="2020 Semi-annual sale"
                                                                               v-model="form.fail.msg">
                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
<!--                                                title text color-->
                                                    <div class="Polaris-FormLayout__Items mb-20">
                                                        <div class="Polaris-FormLayout__Item clr-z-index mr-20">
                                                            <div class="">
                                                                <div class="Polaris-Labelled__LabelWrapper">
                                                                    <div class="Polaris-Label"><label
                                                                        class="Polaris-Label__Text">Failed Background
                                                                        Color</label></div>
                                                                </div>
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField">
                                                                            <ColorPicker class="text-black-700"
                                                                                         label="Text Color:"
                                                                                         :color="form.fail.bg_color"
                                                                                         v-model="form.fail.bg_color"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-FormLayout__Item clr-z-index">
                                                            <div class="">
                                                                <div class="Polaris-Labelled__LabelWrapper">
                                                                    <div class="Polaris-Label"><label
                                                                        class="Polaris-Label__Text">Failed Border
                                                                        Color</label></div>
                                                                </div>
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField">
                                                                            <ColorPicker class="text-black-700"
                                                                                         label="Text Color:"
                                                                                         :color="form.fail.border_color"
                                                                                         v-model="form.fail.border_color"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="Polaris-FormLayout__Items mb-20">
                                                        <div class="Polaris-FormLayout__Item clr-z-index  mr-20">
                                                            <div class="">
                                                                <div class="Polaris-Labelled__LabelWrapper">
                                                                    <div class="Polaris-Label"><label
                                                                        class="Polaris-Label__Text">Failed Text
                                                                        Color</label></div>
                                                                </div>
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField">
                                                                            <ColorPicker class="text-black-700"
                                                                                         label="Text Color:"
                                                                                         :color="form.fail.text_color"
                                                                                         v-model="form.fail.text_color"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-FormLayout__Item clr-z-index">
                                                            <div class="">
                                                                <div class="Polaris-Labelled__LabelWrapper">
                                                                    <div class="Polaris-Label"><label
                                                                        class="Polaris-Label__Text">Try Again Link
                                                                        Color</label></div>
                                                                </div>
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-TextField">
                                                                            <ColorPicker class="text-black-700"
                                                                                         label="Text Color:"
                                                                                         :color="form.fail.ta_link_color"
                                                                                         v-model="form.fail.ta_link_color"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ColorPicker from "../shopify/ColorPicker";

export default {
    components: {
        ColorPicker,
    },
    data() {
        return {
            form: {
                display: {
                    title: 'Enter Verification Code',
                    title_text_color: '#000000',
                    input_plhol_text: 'enter verification code',
                    submit_btn_text: 'CHECK',
                    submit_btn_color: '#000000',
                    submit_btn_text_color: '#FFFFFF',
                    blocked_atc_btn_text: 'MUST ENTER CODE TO PURCHASE',
                    blocked_atc_btn_text_color: '#000000',
                    blocked_atc_btn_color: '#ffffff',
                    blocked_atc_btn_border_color: '#ffffff',
                },
                success: {
                    msg: 'Success! You may now purchase this product.',
                    bg_color: '#D8F9D6',
                    border_color: '#D8F9D6',
                    text_color: '#0A792A',
                },
                fail: {
                    msg: 'Invalid verification code',
                    bg_color: '#FFD8D8',
                    border_color: '#F7AFAF',
                    text_color: '#B74646',
                    ta_link_color: '#0F6398',
                }
            }
        }
    },
    methods:{
        async get() {
            this.$helpers.startLoading();
            try {
                let {data} = await axios.get('setting');
                this.form = data.settings;
            } catch (response) {
                if (response.data.message) {
                    this.$helpers.errorToast(response.data.message);
                }
            }
            this.$helpers.stopLoading();
        },
        async sendForm() {
            let base = this;
            try {
                this.$helpers.startLoading();
                let data = "";
                data = await axios.post('setting', { 'data': base.form});
                this.$helpers.successToast(data.data.message);
                this.get();
            } catch ({response}) {
                base.errors = response.data;
            }
            this.$helpers.stopLoading();
        },
    },
    computed: {
        title_txt_pew(){
            let style = this.form.display;
            return {
                color : style.title_text_color,
            }
        },
        submit_btn_prw(){
            let style = this.form.display;
            return {
                'background' : style.submit_btn_color,
                 color : style.submit_btn_text_color,
            }
        },
        blocked_btn_prw(){
            let style = this.form.display;
            return {
                'background' : style.blocked_atc_btn_color,
                color : style.blocked_atc_btn_text_color,
                border: '1px solid ' + style.blocked_atc_btn_border_color,
                width: '100%',
            }
        },
        success_msg_prw(){
            let style = this.form.success;
            return {
                'background' : style.bg_color,
                color : style.text_color,
                border: '1px solid ' + style.border_color,
                padding: '10px',
            }
        },
        fail_msg_prw(){
            let style = this.form.fail;
            return {
                'background' : style.bg_color,
                color : style.text_color,
                border: '1px solid ' + style.border_color,
                padding: '10px',
            }
        },
        ta_link(){
            let style = this.form.fail;
            return {
                color : style.ta_link_color,
            }
        }
    },
    created() {
        this.get();
    }
}
</script>
<style>
.prw{
    width: 50% !important;
    margin: auto;
}
.prw, .prw-heading {
    margin: auto;
    width: fit-content;
    margin-bottom: 20px;
}
.pew .Polaris-Card__Header{
    width: 25%;
    margin: auto;
}
.fail-label{
    width: 50%;
}
.fail-ta{
    width: 50%;
    text-align: end;
}
</style>
