<template>
    <div class="">
        <div v-if="CodeList.length > 0" class="Polaris-Tabs__Panel" id="all-customers-content" role="tabpanel" aria-labelledby="all-customers" tabindex="-1">
             <div class="Polaris-Card__Section">
            <div class="Polaris-Layout home-code-info">
                <div class="created-code-main">
                    <div class="created-code-main-inner">
                        <div class="created-code-top">
                            <h4>Unique Codes</h4>
                            <router-link :to="{name :'couponcode', params: { id : ''}}" tag="button" class="Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">+ Add new unique code</span></span></router-link>
                        </div>
                        <div class="created-code-content">
                            <h6 class="content-class">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h6>
                        </div>
                        <div class="unique-code-table">
                            <div class="Polaris-DataTable">
                                <div class="Polaris-DataTable__ScrollContainer">
                                    <div class="unique-code-table-title">
                                        <h3>Unique Codes</h3>
                                    </div>
                                    <table class="Polaris-DataTable__Table">
                                        <thead>
                                        <tr>
                                            <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--total" scope="row">Status</td>
                                            <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--total">Unique Codes</td>
                                            <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--total">Selection</td>
                                            <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--total Polaris-DataTable__Cell--numeric">Usage</td>
                                            <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--total Polaris-DataTable__Cell--numeric">Actions</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="Polaris-DataTable__TableRow" v-for="( item, index ) in CodeList">
                                            <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">
                                                <div class="switch-content">
                                                    <label class="switch">
                                                        <input type="checkbox" :checked="item.status" @change="changeStatus(item.id)">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <router-link
                                                :to="{name :'couponcode', params: { id : item.id}}"
                                                tag="td" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" scope="row">
                                                <a class="Polaris-Link" href="" data-polaris-unstyled="true">{{item.title}}</a></router-link>
                                            <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">
                                                <span class="Polaris-Tag">
                                                    <span class="Polaris-Tag__TagText text-capitalize" v-if="item.applies_to == 'specific_types' || item.applies_to == 'specific_tags'">Product {{item.applies_to | format_string}}</span>
                                                    <span class="Polaris-Tag__TagText text-capitalize" v-else>{{item.applies_to | format_string}}</span>
                                                </span>
                                                <a href="#"><i class="far fa-question-circle help-icon"></i></a>
                                            </td>
                                            <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">
                                                <span class="Polaris-Tag">
                                                    <span class="Polaris-Tag__TagText" v-if="item.is_enable_usage_limit && item.usage_limit == 1">Single</span>
                                                    <span class="Polaris-Tag__TagText" v-else>Multiple</span>
                                                </span>
                                            </td>
                                            <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">
                                                <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented" data-buttongroup-segmented="true">
                                                    <div class="Polaris-ButtonGroup__Item">
                                                        <router-link
                                                            :to="{name :'couponcode', params: { id : item.id}}"
                                                            tag="button" class="Polaris-Button">
                                                            <span class="Polaris-Button__Content"><span class="Polaris-Button__Text">
                                                                   <i class="fas fa-pen"></i>
                                                                </span></span>
                                                        </router-link>
                                                    </div>
                                                    <div class="Polaris-ButtonGroup__Item">
                                                        <button type="button" class="Polaris-Button" @click="removeCode(item.id, item.title)"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">
                                                                   <i class="fas fa-trash"></i>
                                                                </span></span></button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <no-data v-if="!CodeList.length && !is_load"></no-data>
    </div>
</template>

<script>

import helper from '../../helper';
import NoData from "../shopify/NoData";
import {Button, ContextualSaveBar, Modal, Toast} from "@shopify/app-bridge/actions";
export default {
    components: {NoData},
    data(){
        return{
            CodeList: [],
            is_load: true,
        }
    },
    methods: {
        async getCodes() {
            this.is_load = true;
            helper.startLoading();
            let base = this;

            await axios.get('code')
                .then(res => {
                    let data = res.data.data;
                    base.CodeList = data;
                    base.showFilter = false;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                    this.is_load = false;
                });
        },
        async changeStatus(id){
            helper.startLoading();
            let base = this;
            await axios.get('change-status?id=' + id)
                .then(res => {
                    let data = res.data.data;
                    helper.successToast(data);
                    base.getCodes();
                })
                .catch(err => {
                    helper.successToast('ERROR');
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        async removeCode(id, title) {
            let base = this;
            const okButton = Button.create(shopify_app_bridge, {label: 'Delete', style: Button.Style.Danger});
            const cancelButton = Button.create(shopify_app_bridge, {label: 'Cancel'});
            const modalOptions = {
                title: 'Delete Code!!',
                message: 'Are you sure to delete this "'+ title +'" code?',
                footer: {
                    buttons: {
                        primary: okButton,
                        secondary: [cancelButton],
                    },
                },
            };
            const myModal = Modal.create(shopify_app_bridge, modalOptions);
            myModal.dispatch(Modal.Action.OPEN);
            cancelButton.subscribe(Button.Action.CLICK, data => {
                myModal.dispatch(Modal.Action.CLOSE);
            });
            okButton.subscribe(Button.Action.CLICK, data => {
                myModal.dispatch(Modal.Action.CLOSE);
                let endPoint = '/code/' + id;
                axios.delete(endPoint)
                    .then(res => {
                        helper.successToast(res.data.data);
                        base.getCodes();
                    })
                    .catch(err => {
                        console.log(err);
                    });
            });
        },
    },
    created() {
        this.getCodes();
    },
    filters: {
        format_string: function (str) {
            let s = str.replace('_', ' ');
            return s.replace('specific', '');
        },
    }
}
</script>
