/*Custom css start for all device*/

.Polaris-Page {
  max-width: 125.8rem;
}

.Polaris-Tabs {
  justify-content: space-around;
}

.Polaris-Tabs__Title {
  min-width: 20rem;
}

.Polaris-Tabs__Tab--selected {
  color: var(--p-text, #5c6ac4);
  font-weight: 600;
}

.Polaris-Tabs__TabContainer .Polaris-Tabs__Title svg {
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  fill: #a2a2a2;
}

.Polaris-Tabs__Title {
  margin-bottom: -5px;
}

h6.content-class {
  font-size: 2rem;
  line-height: 25px;
  color: #8a8a8a;
  margin: 20px 0;
}

h4 {
  font-size: 3rem;
  display: inline-block;
  font-weight: 500;
}

.create-code-btn .Polaris-Button__Content {
  font-size: 1.6rem;
}

.get-help-text {
  font-size: 1.5rem;
  color: #006fbb;
  text-decoration: none;
  margin-left: 20px;
}

.no-code-bg-inner {
  height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right;
}

.no-code-bg-inner .content-class {
  max-width: 350px;
}

/*unique code crated page css start*/

.created-code-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.created-code-main {
  width: 100%;
}

.created-code-main-inner {
  margin-top: 50px;
}

.switch-content,
.Polaris-DataTable__Cell--numeric,
.Polaris-DataTable__Cell--total {
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-content .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8a8a8a;
  transition: 0.4s;
}

.switch-content .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 5px;
  background-color: #fff;
  transition: 0.4s;
}

.switch-content input:checked + .slider {
  background-color: #bce4b5;
}

.switch-content input:focus + .slider {
  outline: none;
}

.switch-content input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #54b744;
}

.switch-content .slider.round {
  border-radius: 50px;
}

.switch-content .slider.round:before {
  border-radius: 50%;
}

.unique-code-table {
  box-shadow: var(--p-card-shadow, 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15));
  margin-top: 50px;
  background-color: #fff;
}

.Polaris-Link {
  font-size: 1.5rem;
  text-decoration: none;
}

.help-icon {
  color: #828282;
}

.Polaris-ButtonGroup--segmented {
  justify-content: center;
}

.Polaris-DataTable__Cell--total {
  border-top: 0.1rem solid var(--p-border-subdued, #dfe3e8);
}

.unique-code-table-title h3 {
  font-size: 2rem;
  display: inline-block;
  font-weight: 500;
}

.unique-code-table-title {
  padding: 1.6rem;
}

div#PolarisTextField7HelpText {
  padding-left: 25px;
}

.Polaris-Card__Header .Polaris-Heading {
  font-size: 1.7rem;
  display: inline-block;
}

.Unique-code-form-group {
  margin-bottom: 20px;
}

.layout-field-main-inner {
  width: 48%;
}

.layout-field-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mb-5 {
  margin-bottom: 15px;
}

.Unique-code-form-group:last-child {
  margin: 0;
}

/*unique code crated page css end*/

/*Custom css start for all device end*/

/*mobile device css start*/

@media (max-width: 767px) {
  .layout-field-main {
    display: block;
  }

  .layout-field-main-inner {
    width: 100%;
    margin: 10px 0;
  }

  .layout-field-main {
    margin: 0;
  }

  h4 {
    font-size: 2rem;
  }
}

/*mobile device css end*/

/*mobile and tablet device css start*/

@media (max-width: 991px) {
  .Polaris-Tabs__Title {
    min-width: auto;
  }

  .Polaris-Tabs {
    flex-wrap: nowrap;
  }

  .Polaris-Tabs__Tab {
    padding: 0;
  }

  .Polaris-Layout,
  .Polaris-Layout__Section,
  .Polaris-Layout__AnnotatedSection {
    margin: 0;
  }

  .Polaris-Layout__Section--secondary {
    order: -1;
    margin-bottom: 20px;
  }
}

/*mobile device css end*/

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.icon-add,
.icon-remove {
  cursor: pointer;
}

.word-wrap {
  word-break: break-all;
  white-space: normal;
}

.text-capitalize {
  text-transform: capitalize;
}

.border-radius-0 {
  border-radius: 0;
}

.cur-pointer {
  cursor: pointer;
}

.vdp-datepicker input {
  background-color: #fff;
  border: 0.1rem solid #c4cdd5;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(99, 115, 129, 0.05);
  min-height: 3.6rem;
  margin: 0;
  padding: 0.5rem 1.2rem;
  width: 100%;
}

.clr-z-index {
  z-index: 999;
}

.from-input-group .form-contorl {
  width: 100%;
  min-height: 3.6rem;
  margin: 0;
  padding: 0.5rem 1.2rem;
  background: none;
  border: 0.1rem solid #c4cdd5;
}

.from-input-group {
  display: flex;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(99, 115, 129, 0.05);
  overflow: hidden;
}

.from-input-group .current-color {
  width: 36px;
  height: 100%;
}

.Polaris-FormLayout__Item {
  margin-left: 0rem;
  margin-top: 0rem;
}

.Polaris-TextField .from-group-item {
  width: 100% !important;
}

.color-picker-container {
  border-top: 1px solid #c4cdd5;
  border-right: 1px solid #c4cdd5;
  border-bottom: 1px solid #c4cdd5;
}

.code-list {
  padding-right: 1rem;
  font-weight: 600;
}

.see_more_code {
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Unique-code-form-group .Polaris-FormLayout__Items:nth-child(4) .Polaris-FormLayout__Item.clr-z-index {
  z-index: 9999;
}

.Unique-code-form-group .Polaris-FormLayout__Items:nth-child(2) .Polaris-FormLayout__Item.clr-z-index {
  z-index: 99999;
}

