<template>
    <div class="Polaris-Tabs__Wrapper">
        <ul role="tablist" class="Polaris-Tabs">
            <li  role="presentation" class="Polaris-Tabs__TabContainer" v-for="item in items">
                <router-link :class="activeClass(item.name)" :to="{name :item.name}" tag="button" class="Polaris-Tabs__Tab ">
                    <span class="Polaris-Tabs__Title">{{ item.title }}</span>
                </router-link>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    data() {
        return {
            items: [],
        }
    },
    created() {
        let base = this;
        this.$router.options.routes.forEach(route => {
            if (route.meta.ignoreInMenu == 0) {
                this.items.push({
                    title: route.meta.title,
                    name: route.name,
                    path: route.path,
                })
            }
        })
    },
    methods: {
        activeClass: function (...names) {
            for (let name of names) {
                if (name == this.$route.name)
                    return 'Polaris-Tabs__Tab--selected';
            }
        }
    },
    watch: {
        '$route' (to, from) {
            let base = this;

            if(to.name == "couponcode" || from.name == "couponcode"){
                let index = this.items.findIndex((c) => {
                    return c.name == "couponcode";
                });
                let id = to.params.id;
                base.items[index].title = (id !== '' && typeof id !== 'undefined')?"Edit Coupon Code":"Create Coupon Code";
            }
        },
    },
};
</script>
