<template>
    <div class="">
        <div class="Polaris-EmptyState Polaris-EmptyState--withinPage">
            <div class="Polaris-EmptyState__Section">
                <div class="Polaris-EmptyState__DetailsContainer">
                    <div class="Polaris-EmptyState__Details">
                        <div class="Polaris-TextContainer">
                            <p class="Polaris-DisplayText Polaris-DisplayText--sizeMedium">Unique Codes</p>
                            <div class="Polaris-EmptyState__Content">
                                <p>Manage your unique codes and by individual products or collections.</p>
                            </div>
                        </div>
                        <div class="Polaris-EmptyState__Actions">
                            <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                <div class="Polaris-Stack__Item">
                                    <router-link :to="{name :'couponcode', params: { id : ''} }" tag="button" class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeLarge">
                                    <span class="Polaris-Button__Content">
                                        <span class="Polaris-Button__Text">Create Unique Codes</span>
                                    </span>
                                    </router-link></div>
                                <div class="Polaris-Stack__Item"><a class="Polaris-Button Polaris-Button--plain" href="https://help.shopify.com" data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Get Help</span></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-EmptyState__ImageContainer"><img src="https://cdn.shopify.com/s/files/1/0757/9955/files/empty-state.svg" role="presentation" alt="" class="Polaris-EmptyState__Image"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'NoData',
    }
</script>
